* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Site Header */
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	padding: 0.5em 0em 0em 0em;
	width: 100%;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 2vh;
  height: 10vh;
  min-height: 100px;

}
.site-title {
	font-size: 1.875rem;
  font-weight: 400;
	vertical-align: text-bottom;
	padding: 1em 0;
  font-style: italic;
  font-family: 'Playfair Display', georgia;
}
.site-title a:hover {
	color: #2b2b2b;
}
.sec-title {
    font-weight: 900 !important;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'fira sans';
    font-size: 0.4em;
    line-height: 1.675;
    letter-spacing: 0.6em;
    display: block;
    text-align: center;
  }
.menu > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	list-style: none;
}
.menu__item {
	padding: 0.375em;
	font-size: 0.875rem;
	font-weight: 400;
	color: #2b2b2b;
	font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}
/* Slider */
.title {
 text-align: center;
  margin: auto;
  font-family: arial;
  margin: 50px auto;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  display: inline-block;
  position: relative;
}
.slider {
  margin: auto;
  width: 100%;
  height: 85vh;
  background: #fff;
  display: block;
  position: relative;
  overflow: hidden;
}
.slider__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6400px;
  margin: 0;
  margin-right: 0;
  padding: 0;
  transition: all 1s;
}
.slider__image {
  position: relative;
  list-style: none;
  display: inline-block;
  min-width: 100%;
  max-height: 100%;
}
.slider__image img {
  position: relative;
  max-width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 0px;
}
.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.btn {
  min-height: 100%;
  position: relative;
  padding: 0.2em;
  background: rgba(255,255,255,0.7);
  border: none;
  z-index: 20;
  font-size: 2rem;
  transition: background 0.2s;
}
.btn:hover {
  background: rgba(255,255,255,0.9);
}
/* Albums Grid */
.albums-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85vh;
  background: #fff;
}
.album-tile {
  background: lightblue;
   -webkit-box-flex: 0;
       -ms-flex: 0 1 300px;
           flex: 0 1 300px;
  height: 500px;
  margin: 16px 8px;
  background-size: cover;
  position: relative;
}
.hong-kong {
    background-image: url('../../../assets/images/content/hong-kong/hk-tile-cover.jpg');
    background-position: center;
}
.barca {
    background-image: url('../../../assets/images/content/barcelona/barca-tile-cover.jpg');
    background-position: center;
}
.istanbul {
    background-image: url('../../../assets/images/content/istanbul/istanbul-tile-cover.jpg');
    background-position: center;
}
.stockholm {
    background-image: url('../../../assets/images/content/stockholm/stockholm-tile-cover.jpg');
    background-position: center;
}
.ontario {
    background-image: url('../../../assets/images/content/ontario/ontario-tile-cover.jpg');
    background-position: center;
}
.valencia {
    background-image: url('../../../assets/images/content/valencia/valencia-tile-cover.jpg');
}
.album-tile__title {
  width: 100%;
  position: relative;
  top: 50%;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: 'playfair display';
}
.album-tile__title::after {
  content: '';
  position: relative;
  top: 20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background: #fff;
  display: block;

}
.album-tile__category {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  font-family: 'fira sans';
  letter-spacing: 3px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
::-moz-selection {
	background: #2b2b2b;
	color: #fff;
}
::selection {
	background: #2b2b2b;
	color: #fff;
}
body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	font-family: 'Playfair Display', georgia;
	color: #2b2b2b;

}
main {
  background: #F5F4F0;
  min-height: 85vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
a, a:visited {
text-decoration: none;
color: inherit;
}
a {
	border-bottom: solid 0px #ff3530;
	transition: all 0.2s;
	line-height: 0.5;
}
a:hover {
	border: 0;
	color: #ff3530;
}
.container {
	width: 100%;
	padding: 0 20px;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 85vh;
  bottom: 0;
  top: 0;
  left: 0;
  background-image: url("../../../assets/images/content/barcelona/35813360365_e87e752a18_o.jpg");
  background-position: 0 95%;
  background-size: cover;
}
/* Profile Page */
.section-heading {
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 75px;
  font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  display: inline-block;
  margin: auto;
  font-weight: 700;
}
.section-heading::after {
  content: '';
  position: relative;
  top: 20px;
  left: 0;
  width: 97%;
  height: 2px;
  background: #2b2b2b;
  display: block;
  margin-bottom: 100px;

}
p {
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  font-family: 'playfair display', georgia, serif;
  font-weight: 300;
  line-height: 1.5;
}
/* Mobile menu */
.mobile-menu-btn {
  width: 30px;
  height: 30px;
}
.mobile-menu-btn .bar {
  display: block;
  background: #000;
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-left: 0;
}
.active {
  -webkit-transform: translateX(50vw);
          transform: translateX(50vw);
   transition: all 0.3s;
}
@media (max-width: 500px) {

  .container {
    padding: 0;
  }

  .header {
    padding: 1em;
  }

  .menu {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 50vw;
    top: 0;
    left: -50vw;
    background: #fff;
     transition: all 0.3s;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     font-size: 2rem;
  }

}


