* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Site Header */
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	padding: 0.5em 0em 0em 0em;
	width: 100%;
	margin-bottom: 2vh;
  height: 10vh;
  min-height: 100px;

}
.site-title {
	font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.3em;
	vertical-align: text-bottom;
  text-align: center;
	padding: 0 0.3em;
  text-transform: uppercase;
    font-family: 'fira sans';  
    text-align: center;
    line-height: 1;
}
.site-title a:hover {
	color: #401935;
}
.site-title::after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 94%;
  right: 0;
  left: 3%;
  text-align: right;
  background: #ff3530;
  bottom: 1.01em;
}
.sec-title {
  margin-top: 0.25em;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.1;
    display: block;
    text-align: center;
    font-family: georgia;
  }
.menu > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	list-style: none;
}
.menu__item {
	padding: 0.375em;
	font-size: 0.875rem;
	font-weight: 400;
	color: #2b2b2b;
	font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}
/* Slider */
.title {
 text-align: center;
  margin: auto;
  font-family: arial;
  margin: 50px auto;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  display: inline-block;
  position: relative;
}
.slider {
  margin: auto;
  width: 100%;
  height: 85vh;
  background: #fff;
  display: block;
  position: relative;
  overflow: hidden;
}
.slider__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6400px;
  margin: 0;
  margin-right: 0;
  padding: 0;
  transition: all 1s;
}
.slider__image {
  position: relative;
  list-style: none;
  display: inline-block;
  min-width: 100%;
  max-height: 100%;
}
.slider__image img {
  position: relative;
  max-width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  bottom: 0px;
}
.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}
.btn {
  min-height: 100%;
  position: relative;
  padding: 0.2em;
  background: rgba(255,255,255,0.7);
  border: none;
  z-index: 20;
  font-size: 2rem;
  transition: background 0.2s;
}
.btn:hover {
  background: rgba(255,255,255,0.9);
}
/* Albums Grid */
.albums-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85vh;
  padding: 1.25em 2.5em;
}
.album-tile {
  background: lightblue;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  height: 500px;
  margin: 1.25em 2vw;
  background-size: cover;
  position: relative;
}
.hong-kong {
  background-image: url('../../../assets/images/content/hong-kong/hk-tile-cover.jpg');
  background-position: center;
}
.barca {
  background-image: url('../../../assets/images/content/barcelona/barca-tile-cover.jpg');
  background-position: center;
}
.istanbul {
  background-image: url('../../../assets/images/content/istanbul/istanbul-tile-cover.jpg');
  background-position: center;
}
.stockholm {
  background-image: url('../../../assets/images/content/stockholm/stockholm-tile-cover.jpg');
  background-position: center;
}
.ontario {
  background-image: url('../../../assets/images/content/ontario/ontario-tile-cover.jpg');
  background-position: center;
}
.valencia {
  background-image: url('../../../assets/images/content/valencia/valencia-tile-cover.jpg');
}
.album-tile__title {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: georgia;
}
.album-tile__title::after {
  content: '';
  position: relative;
  top: 20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background: #fff;
  display: block;
}
.album-tile__category {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  font-family: 'fira sans';
  letter-spacing: 3px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}
.album-tile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.album-tile__overlay:hover {
  background: rgba(0, 0, 0, 0);
}
/* Photo Grid */
.photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
}
.photo-square {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.15s;
}
.photo-square-link {
  margin: 10px;
}
.photo-square:hover {
  box-shadow: 0px 0px 10px 4px rgba(202, 202, 202, 1.0);
}
/* Mobile menu */
.mobile-menu-btn {
  display: none;
  cursor: pointer;
}
.active {
  max-height: 100vh;
  overflow-y: hidden;
}
.menu--active {
  -webkit-transform: translateX(-210px);
          transform: translateX(-210px);
  transition: ease-in-out 0.3s;
}
.darken {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 5;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.mobile-menu__close-btn {
  position: relative;
  margin: 2rem 0;
  padding: 0.375rem;
  font-size: 1.25rem;
  color: #2b2b2b;
  background: transparent;
  border: 0;
  display: none;
  font-family: 'Zapf Dingbats';
}
::-moz-selection {
  background: #2b2b2b;
  color: #fff;
}
::selection {
  background: #2b2b2b;
  color: #fff;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: 'Playfair Display', georgia;
  color: #2b2b2b;
  max-width: 100vw;
}
main {
  background: #f7f7f7;
  min-height: 85vh;
  height: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 2vh 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
  width: auto;
}
a {
  border-bottom: solid 0px #ff3530;
  transition: all 0.2s;
  line-height: 0.5;
}
a:hover {
  border: 0;
  color: #ff3530;
}
.container {
  width: 100%;
  padding: 0 2em;
}
.hero-image {
  position: relative;
  width: 100%;
  height: 85vh;
  bottom: 0;
  top: 0;
  left: 0;
  background-image: url("../../../assets/images/content/barcelona/35813360365_e87e752a18_o.jpg");
  background-position: 0 95%;
  background-size: cover;
}
.primary {
  padding: 6.5rem 2rem;
}
/* Profile Page */
.section-heading {
  position: relative;
  text-align: center;
  margin-bottom: 10em;
  font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  display: inline-block;
  margin: auto;
  font-weight: 500;
}
.section-heading::after {
  content: '';
  position: relative;
  top: 1em;
  margin: auto;
  width: 2rem;
  height: 2px;
  background: #ff3530;
  display: block;
  margin-bottom: 100px;
}
p {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 1em;
  font-family: georgia, serif;
  font-weight: 300;
  line-height: 1.45;
}
.back-to-top {
  display: none;
  margin: auto;
  position: relative;
  bottom: 4rem;
  font-size: 1.75rem;
  border: 0;
  background: transparent;
}
@media (max-width:500px) {
  .container {
    padding: 0;
  }

  .header {
    padding: 1em;
  }

  p {
    width: 100%;
  }

  .mobile-menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
  }

  .back-to-top {
    display: block;
  }

  .mobile-menu-btn .bar {
    display: block;
    background: #000;
    height: 1px;
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
  }

  .mobile-menu__close-btn {
    display: block;
    color: #ff3530;
  }

  .album-tile {
    height: 400px;
  }

  .photo-square-link {
    margin: 0.25em;
  }

  .photo-square-link:hover {
    box-shadow: none;
  }

  .menu {
    position: absolute;
    padding-left: 20px;
    z-index: 10;
    height: 100vh;
    width: 200px;
    top: 0;
    bottom: 0;
    right: -210px;
    background: #fff;
    transition: all 0.3s;
    font-size: 2rem;
    background: #f7f7f7;
  }

  .menu > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: auto;
    padding-top: 20vh;
    padding-left: 0.5em;
    border-right: solid 1px #cacaca;
  }

  .menu::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    width: 20px;
    height: 100%;
      background-image: -webkit-repeating-radial-gradient(center center, #2b2b2b, #2b2b2b 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #2b2b2b, #2b2b2b 1px, transparent 1px, transparent 100%);
  background-size: 3px 3px;
  }

  .menu__item {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .hero-image {
    background-size: stretch;
    background-position: 0 50%;
  }

}