@import '/base/_variables';
@import '/base/_reset';
@import '/modules/_header';
@import '/modules/_slider';
@import '/modules/_grid';
@import '/modules/_menu';

::selection {
  background: #2b2b2b;
  color: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Playfair Display', georgia;
  color: $primaryFontColour;
  max-width: 100vw;
}

main {
  background: #F5F4F0;
  min-height: 85vh;
  height: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 2vh 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  width: auto;
}

a {
  border-bottom: solid 0px $orangeRed;
  transition: all 0.2s;
  line-height: 0.5;
}

a:hover {
  border: 0;
  color: $orangeRed;
}

.container {
  width: 100%;
  padding: 0 2em;
}


.hero-image {
  position: relative;
  width: 100%;
  height: 85vh;
  bottom: 0;
  top: 0;
  left: 0;
  background-image: url("../../../assets/images/content/barcelona/35813360365_e87e752a18_o.jpg");
  background-position: 0 95%;
  background-size: cover;
}

.primary {
  padding: 6.5rem 2rem;
}

/* Profile Page */
.section-heading {
  position: relative;
  text-align: center;
  margin-bottom: 10em;
  font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  display: inline-block;
  margin: auto;
  font-weight: 700;
}

.section-heading::after {
  content: '';
  position: relative;
  top: 1em;
  left: 0;
  width: 97%;
  height: 2px;
  background: $primaryFontColour;
  display: block;
  margin-bottom: 100px;
}

p {
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 1em;
  font-family: georgia, serif;
  font-weight: 300;
  line-height: 1.7;
}

.back-to-top {
  display: none;
  margin: auto;
  position: relative;
  bottom: 4rem;
  font-size: 1.75rem;
  border: 0;
  background: transparent;
}

@media (max-width:500px) {
  .container {
    padding: 0;
  }

  .header {
    padding: 1em;
  }

  .mobile-menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
  }

  .back-to-top {
    display: block;
  }

  .mobile-menu-btn .bar {
    display: block;
    background: #000;
    height: 1px;
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
  }

  .mobile-menu__close-btn {
    display: block;
  }

  .menu {
    position: absolute;
    padding-left: 20px;
    z-index: 10;
    height: 100vh;
    width: 200px;
    top: 0;
    bottom: 0;
    right: -210px;
    background: #fff;
    transition: all 0.3s;
    font-size: 2rem;
  }

  .menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 5vh;
    border-right: solid 1px #cacaca;
  }

  .menu::before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    width: 20px;
    height: 100%;
    background: repeating-linear-gradient(45deg, #fff, #fff 4px, #fff 4px, #000 6px);
  }

  .menu__item {
    margin-bottom: 20px;
  }

  .hero-image {
    background-size: stretch;
    background-position: 0 50%;
  }

}