$primaryFontColour: #2b2b2b;
$bronze: #9E2F00;
$deepPurple: #401935;
$orangeRed: #ff3530;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background: #2b2b2b;
	color: #fff;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: 'Asul', georgia;
	color: $primaryFontColour;
}

main {
  background: #F5F4F0;
  min-height: 80vh;
}

a, a:visited {
text-decoration: none;
color: inherit;
}

a {
	border-bottom: solid 0px $orangeRed;
	transition: all 0.1s;
	line-height: 0.5;
}

a:hover {
	border: 0;
	color: $orangeRed;
}

.container {
	width: 100%;
	padding: 0 20px;
}

.header {
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 0.25em 0em 0em 0em;
	width: 100%;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 2vh;
  height: 12vh;
}

.site-title {
	font-size: 1.5rem;
	font-weight: 700;
  letter-spacing: -2px;
	vertical-align: text-bottom;
	line-height: 1.5;
	padding: 1em 0;
}

.menu > ul {
	display: flex;
  flex-direction: column;
	list-style: none;
}

.menu__item {
	padding: 0.375em;
	font-size: 0.75rem;
	font-weight: 300;
	color: $primaryFontColour;
	font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}


/* Slider */

.title {
 text-align: center;
  margin: auto;
  font-family: arial;
  margin: 50px auto;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  display: inline-block;
  position: relative;
}

.slider {
  margin: auto;
  width: 100%;
  height: 80vh;
  background: #fff;
  display: block;
  position: relative;
  overflow: hidden;
}



.slider__image-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6400px;
  margin: 0;
  margin-right: 0;
  padding: 0;
  transition: all 1s;
}

.slider__image {
  position: relative;
  list-style: none;
  display: inline-block;
  min-width: 100%;
  max-height: 100%;
  background-size: cover;
}

 .slider__image img {
  object-fit: cover;
  margin-top: -2%;
}


.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}


.btn {
  min-height: 100%;
  position: relative;
  padding: 0.2em;
  background: rgba(255,255,255,0.7);
  border: none;
  z-index: 20;
  font-size: 2rem;
  transition: background 0.2s;
}

.btn:hover {
  background: rgba(255,255,255,0.9);
}

/* Albums Grid */


.albums-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 80vh;
  background: #fff;
}

.album-tile {
  background: lightblue;
   flex: 0 1 300px;
  height: 500px;
  margin: 8px;
  background-size: cover;
  position: relative;
}

.hong-kong {
    background-image: url('../../../assets/images/content/hong-kong/hk-tile-cover.jpg');
    background-position: center;
}

.barca {
    background-image: url('../../../assets/images/content/barcelona/barca-tile-cover.jpg');
    background-position: center;
}

.istanbul {
    background-image: url('../../../assets/images/content/istanbul/istanbul-tile-cover.jpg');
    background-position: center;
}

.stockholm {
    background-image: url('../../../assets/images/content/stockholm/stockholm-tile-cover.jpg');
    background-position: center;
}

.ontario {
    background-image: url('../../../assets/images/content/ontario/ontario-tile-cover.jpg');
    background-position: center;
}

.valencia {
    background-image: url('../../../assets/images/content/valencia/valencia-tile-cover.jpg');
}

.album-tile__title {
  width: 100%;
  position: relative;
  top: 50%;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: 'playfair display';
}

.album-tile__title::after {
  content: '';
  position: relative;
  top: 20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background: #fff;
  display: block;

}

.album-tile__category {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}




