@import '/base/_variables';
@import '/base/_reset';
@import '/modules/_header';
@import '/modules/_slider';
@import '/modules/_grid';



::selection {
	background: #2b2b2b;
	color: #fff;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: 'Playfair Display', georgia;
	color: $primaryFontColour;

}

main {
  background: #F5F4F0;
  min-height: 85vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

a, a:visited {
text-decoration: none;
color: inherit;
width: auto;
}

a {
	border-bottom: solid 0px $orangeRed;
	transition: all 0.2s;
	line-height: 0.5;
}

a:hover {
	border: 0;
	color: $orangeRed;
}

.container {
	width: 100%;
	padding: 0 2em;
}

 .hero-image {
  position: relative;
  width: 100%;
  height: 85vh;
  bottom: 0;
  top: 0;
  left: 0;
  background-image: url("../../../assets/images/content/barcelona/35813360365_e87e752a18_o.jpg");
  background-position: 0 95%;
  background-size: cover;
}





/* Profile Page */

.section-heading {
  position: relative;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 75px;
  font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.25rem;
  display: inline-block;
  margin: auto;
  font-weight: 700;
}

.section-heading::after {
  content: '';
  position: relative;
  top: 20px;
  left: 0;
  width: 97%;
  height: 2px;
  background: $primaryFontColour;
  display: block;
  margin-bottom: 100px;

}

p {
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  font-family: 'playfair display', georgia, serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Mobile menu */

.mobile-menu-btn {
	display: none;
}


.active {
  transform: translateX(180px);
   transition: all 0.3s;
}


@media (max-width: 500px) {

  .container {
    padding: 0;
  }

  .header {
    padding: 1em;
  }

  .mobile-menu-btn {
  	display: block;
  width: 30px;
  height: 30px;
}

.mobile-menu-btn .bar {
  display: block;
  background: #000;
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-left: 0;
}

  .menu {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 180px;
    top: 0;
    left: -180px;
    background: #fff;
     transition: all 0.3s;
     font-size: 2rem;
    -webkit-box-shadow: 2px 0px 3px 0px rgba(202,202,202,0.7);
    -moz-box-shadow: 2px 0px 3px 0px rgba(202,202,202,0.7);
    box-shadow: 2px 0px 3px 0px rgba(202,202,202,0.7);
  }

  .menu > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     width: 90%;
     height: 100vh;
     border-right: solid 1px #cacaca;
  }

  .menu__item {
  	margin-bottom: 20px;
  }

}


