/* Albums Grid */
.albums-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 85vh;
  padding: 1.25em 2.5em;
}

.album-tile {
  background: lightblue;
  flex: 0 1 300px;
  height: 500px;
  margin: 1.25em 2vw;
  background-size: cover;
  position: relative;
}

.hong-kong {
  background-image: url('../../../assets/images/content/hong-kong/hk-tile-cover.jpg');
  background-position: center;
}

.barca {
  background-image: url('../../../assets/images/content/barcelona/barca-tile-cover.jpg');
  background-position: center;
}

.istanbul {
  background-image: url('../../../assets/images/content/istanbul/istanbul-tile-cover.jpg');
  background-position: center;
}

.stockholm {
  background-image: url('../../../assets/images/content/stockholm/stockholm-tile-cover.jpg');
  background-position: center;
}

.ontario {
  background-image: url('../../../assets/images/content/ontario/ontario-tile-cover.jpg');
  background-position: center;
}

.valencia {
  background-image: url('../../../assets/images/content/valencia/valencia-tile-cover.jpg');
}

.album-tile__title {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-family: georgia;
}

.album-tile__title::after {
  content: '';
  position: relative;
  top: 20px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  background: #fff;
  display: block;
}

.album-tile__category {
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  font-family: 'fira sans';
  letter-spacing: 3px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.album-tile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.album-tile__overlay:hover {
  background: rgba(0, 0, 0, 0);
}

/* Photo Grid */
.photo-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
}

.photo-square {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: all 0.15s;
}

.photo-square-link {
  margin: 10px;
}

.photo-square:hover {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(202, 202, 202, 1.0);
  -moz-box-shadow: 0px 0px 10px 4px rgba(202, 202, 202, 1.0);
  box-shadow: 0px 0px 10px 4px rgba(202, 202, 202, 1.0);
}