

/* Site Header */

.header {
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 0.5em 0em 0em 0em;
	width: 100%;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 2vh;
  height: 10vh;
  min-height: 100px;

}



.site-title {
	font-size: 1.875rem;
  font-weight: 400;
	vertical-align: text-bottom;
	padding: 1em 0;
  font-style: italic;
  font-family: 'Playfair Display', georgia;
  a:hover {
    color: $deepPurple;
  }
}

 .sec-title {
    font-weight: 900 !important;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'fira sans';
    font-size: 0.4em;
    line-height: 1.675;
    letter-spacing: 0.6em;
    display: block;
    text-align: center;
  }

.menu > ul {
	display: flex;
  flex-direction: column;
	list-style: none;
}

.menu__item {
	padding: 0.375em;
	font-size: 0.875rem;
	font-weight: 400;
	color: $primaryFontColour;
	font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}