

/* Site Header */

.header {
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 0.5em 0em 0em 0em;
	width: 100%;
	border-bottom: solid 1px #cacaca;
	margin-bottom: 2vh;
  height: 10vh;
  min-height: 100px;

}



.site-title {
	font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.3em;
	vertical-align: text-bottom;
	padding: 0 0.3em;
  text-transform: uppercase;
    font-family: 'fira sans';  
    text-align: center;
    border-left: solid 2px black;
    line-height: 1;
      a:hover {
    color: $deepPurple;
  }
}



 .sec-title {
  margin-top: 0.25em;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1;
    display: block;
    font-family: georgia;
  }


.menu > ul {
	display: flex;
  flex-direction: column;
	list-style: none;
}

.menu__item {
	padding: 0.375em;
	font-size: 0.875rem;
	font-weight: 400;
	color: $primaryFontColour;
	font-family: 'fira sans';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
}