/* Mobile menu */
.mobile-menu-btn {
  display: none;
  cursor: pointer;
}

.active {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--active {
  transform: translateX(-210px);
  transition: ease-in-out 0.3s;
}

.darken {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 5;
  transition: opacity 0.3s;
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.mobile-menu__close-btn {
  position: relative;
  margin: 2rem 0;
  padding: 0.375rem;
  font-size: 1.25rem;
  color: $primaryFontColour;
  background: transparent;
  border: 0;
  display: none;
  font-family: 'Zapf Dingbats';
}